<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Tech Blog</a>
            </h1>
            <div id="nav-links">
                {{#if loggedIn}}
                <a href="/dashboard"><button>Dashboard</button></a>
                <button id="logout">Logout</button>
                {{else}}
                <a href="/login"><button>Login</button></a>
                {{/if}}
            </div>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            ©2020 Tech Blog by Jaydon Goodrich
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>